body {
   margin: 30px;
}

.page {}

.icons__row {
   display: flex;
   justify-content: center;
   gap: 90px;
}

.action {
   background-color: black;
   height: 512px;
   width: 512px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.action__text {
   padding-bottom: 10px;
   box-sizing: border-box;
}

.action__flag:hover {
   color: aqua;
}

.flag {
   position: relative;

}

.blue {
   background-color: blue;
   width: 512px;
   height: 256px;
}

.yellow {
   background-color: yellow;
   width: 512px;
   height: 256px;
}

.glyph {
   position: absolute;
   top: 156px;
   left: 74px;
}

.flag_round {
   border: 1px solid #ffff;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
}

.blue_round {
   background-color: blue;
   width: 512px;
   height: 256px;
}

.yellow_round {
   background-color: yellow;
   width: 512px;
   height: 256px;
}

.glyph_round {
   position: absolute;
   top: 270px;
   left: 74px;
}