@import url(../hw_5/fonts/fonts.css) * {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

}

:focus,
active {
   outline: none
}

a:focus,
a:active {
   display: block;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100;
   line-hight: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* ============================================= */


body {
   margin: 0;
   font-family: 'Space Grotesk';
   font-style: normal;
}

.wrapper {
   height: 100%;
   background-color: #F5F5F5;
   padding: 10% 0;

}

.block {
   display: flex;
   margin: 0 auto;
   max-width: 1000px;
   border: 1px solid #f5f5f5;
}

.creativ {
   width: 55%;
   background-image: url(./img/Stroke\ 5.png);
}

.creative__title {
   padding: 12px 0 0 32px;
   font-weight: 700;
   font-size: 24px;
   line-height: 24px;

}

.creative__title a {
   color: grey;
}

.creative__form {
   max-width: 353px;
   margin: 0 auto;
}

label {
   display: flex;
}

input {
   width: 100%;
}

select {
   width: 100%;
   margin-bottom: 100px;
}

.form__title {
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   color: #000000;
   text-align: center;
   margin-top: 68px;
}

.creative__btn {
   background-color: #27485D;
   max-width: 355px;
   margin: 0 auto;
   text-align: center;
}

.creative__btn a {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   text-align: center;
   padding: 5px 0;
}

.creative__user {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #C4C4C4;
   text-align: center;
   margin: 12px 0;
}

.content {
   width: 45%;
   background-image: url(./img/right\ section.png);
}

.content__header {}

.header__menu {}

.menu__list {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
   padding-right: 20px;

}

.menu__list a {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}

.content__text {
   font-weight: 700;
   font-size: 48px;
   line-height: 60px;
   color: #FFFFFF;
   max-width: 307px;
   margin: 185px auto 0 auto;
}

.content__name {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin: 0px 74px;
}

.content__name::before {
   content: "";
   background-color: #FFFFFF;
   width: 5px;
   height: 2px;
   display: inline-block;
   margin: 0 4px 3px 0;
}

span {
   font-weight: 400;
   font-size: 10px;
   line-height: 16px;
   color: #A8A8A8;
   padding: 2px;
}