@import url(../fonts/fonts.css);
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

}

:focus,
active {
   outline: none
}

a:focus,
a:active {
   display: block;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100;
   line-hight: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* ====================================================== */

html {
   font-size: 10px;
}

/* ====================================================== */
body {
   font-size: 10px;
   background: #F5F5F5;
}

/* ====================================================== */
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   position: relative;
}

/* ====================================================== */
.page {
   flex: 1 1 auto;
   margin-top: 89px;
}

/* ====================================================== */
[class*="__conteiner"] {
   max-width: 1920px;
   margin: 0 auto;
   padding: 0 15px;
}
[class*="__conteiner-fluid"] {
   max-width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

@media (max-with: 1949.98px) {
   [class*="__conteiner"] {
      max-width: 970px;
   }
}

@media (max-with: 990.98px) {
   [class*="__conteiner"] {
      max-width: 750px;
   }
}

@media (max-with: 767.98px) {
   [class*="__conteiner"] {
      max-width: none;

   }
}

.header {
   background-color: #202846;
   position: fixed;
   z-index: 30;
   width: 100%;
}

.header__conteiner {
   display: flex;
   justify-content: space-between;
   min-height: 89px;
   align-items: center;
   padding: 10px 0;
   gap: 10px;

}

/* ============================================= */
.header__logo {
   padding-left: 138px;
}

.header__navigation {
   display: flex;
   gap: 70px;
   align-items: center;
}

.header__menu {}

/* ============================================= */
.menu {}

.menu__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   column-gap: 105px;
   row-gap: 5px;
}

.menu__item {
   max-width: 150px;
   text-align: center;
}

.menu__link {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 2.4rem;
   color: #FFFFFF;
   transition-duration: 1s;
}

.menu__link:hover {
   color: #AEAEE2;
}

/* ============================================= */
.header__swicher {
   display: flex;
   align-items: center;
   gap: 15px;
   padding-right: 35px;
}

.header__ua {
   padding: 0 10px 0 0;
}

/* ============================================= */
.title__conteiner-fluid {
   background-color: #C6C6DC;
   min-height: 139px;
}

.title__text {
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 400;
   font-size: 48px;
   color: #202846;
   padding: 35px 0 0 227px;

}

.section {
   background-color: #F5F5F5;
   margin-bottom: 267px;

}

.section__conteiner {
   max-width: 1489px;
   position: relative;
}

.choise_button {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid beige;
   height: 73px;
   margin: 56px auto;
   background-color: #E8E8E8;
   position: relative;
}

.choise_text {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 36px;
   color: rgba(0, 0, 0, 0.61);
}

.choise__arrow {
   position: absolute;
   right: 15px;
   top: 25px;
}

.section-column {
   display: flex;
    flex-direction: column;
    gap: 36px;
}

.section__card {
   background-color: #BDBDC6;
   display: flex;
   align-items: center;
   position: relative;
   transition-duration: 1s;
}

.section__card:hover {
   background-color: #AEAEE2;
   box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card__image {
   padding: 28px 103px;
}

.card__image img {
   transition: transform .5s ease;
}

.card__image:hover img {
   transform: scale(1.2);
}

.card__item {
   padding: 30px 0;
}

.card__title {
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 700;
   font-size: 36px;
   line-height: 47px;
   color: #353C57;
}

.card__line {
   border-bottom: 3px solid #FFFFFF;
   max-width: 681px;
   margin-bottom: 10px;
   padding: 5px 0;
}

.card__text {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
   color: #202846;
   text-align: center;
   padding: 31px 31px;
   background-color: #D7D7DD;
   margin-right: 87px;
}

.card__star img{
   position: absolute;
   top: 10px;
   right: 10px;
}

.star {
   opacity: 1;
}
.star-y {
   opacity: 0;
}

.star:hover {
   opacity: 0;
}
.star-y:hover {
   opacity: 1;
}


.card__star img:hover {
   transition-duration: 0.5s;
}

.card__button {
   position: absolute;
   bottom: 20px;
   right: -65px;
}

.card__button a {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color: #FFFFFF;
   background-color: #202846;
   padding: 15px 55px;
   border-radius: 30px;
   transition-duration: 1s;
}

.card__button a:hover {
   background-color: #EF075B;
   box-shadow: 0 4px 4px 1px #353C57;
}

.section__arrow {
   background-color: #555768;
   width: 101px;
   height: 101px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 10px;
   right: 10px;
}

/* ========================================== */
.office {
   padding-bottom: 210px;
}

.office__info {
   display: flex;
   background-color: #BDBDC6;
   max-width: 1318px;
   margin: 41px auto;
}

.info__ava {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
   justify-content: center;
   gap: 10px;
}

.ava__photo {
   padding: 0 0 20px 0;
}

.ava__photo img {
   max-width: 184px;
}

.btn__avatar {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color: #FFFFFF;
   background-color: #69749B;
   padding: 8px 30px;
   border-radius: 30px;
}

.btn__settings {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color: #FFFFFF;
   background-color: #484A54;
   padding: 8px 30px;
   border-radius: 30px;
}

.info__name {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 46px 0;
   gap: 5px;
}

.name__name {
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 700;
   font-size: 36px;
   line-height: 47px;
   color: #353C57;
}

.name__name a {
   color: #353C57;
}

.office__row {
   display: flex;
   justify-content: center;

}

.office__btn {
   padding-top: 40px;
}

.office__btn a {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   line-height: 35px;
   background-color: #202846;
   padding: 30px 90px;
   border-radius: 50px;
   color: #ffffff;
}

/* ====================================================== */
.footer__footer {}

.title__text {}

.footer__block {
   max-width: 1064px;
   margin: 63px auto;
}

.footer__row {
   display: flex;
   flex-wrap: wrap;
   gap: 52px;
   justify-content: space-between;
}

.footer__info {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 41px;
   color: #000000;
}

.footer__phone {}

.footer__line {
   border-bottom: 1px solid #202846;
}

.footer__text {}

.footer__map {

}

.footer__map iframe {
   border-radius: 50px;
}
.footer-copyright {
   background-color: #202846;
   padding: 30px 0 30px 60px;
}

.footer-copyright__text {
font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 47px;
color: #EEECF1;
}