@import url(/fonts/fonts.css);
@import url(./animation/animation.css);


/* ====================================================== */
[class*="__conteiner"] {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;
}

body {
    font-family: 'Rosario', 'sans-serif';
    font-style: italic;
    font-weight: 700;
    margin: 0;
}

ul li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.header {
    width: 100%;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 10vh;
}


.header__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__logo {
    background-color: white;
    height: 100%;
}

.menu__list {
    display: flex;
    gap: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFCFC;
}

.menu__list li a {
    color: #FFFCFC;
    text-decoration: none;
}

/* ====================================== */
.gallery {
    padding: 71px 0;
    min-height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1834px;
    margin: 0 auto;
    gap: 23px;
}

.photo1 {
    grid-area: 1 / 1 / 3 / 2;
    margin-top: 70px;
    margin-left: 55px;
    transform: translateX(-5000px);
    animation: one-left 1s linear forwards;
}

.photo2 {
    grid-area: 1 / 2 / 2 / 3;
    transform: translateX(-5000px);
    animation: two-left 2s linear forwards;
}

.photo3 {
    grid-area: 1 / 3 / 2 / 4;
    transform: translateX(5000px);
    animation: two-right 2s linear forwards;
}

.photo4 {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 22px;
    transform: translateX(-5000px);
    animation: two-left 2s linear forwards;
}

.photo5 {
    grid-area: 2 / 3 / 3 / 4;
    margin-top: 22px;
    transform: translateX(5000px);
    animation: two-right 2s linear forwards;
}

.photo6 {
    grid-area: 1 / 4 / 3 / 5;
    margin-top: 70px;
    margin-left: 15px;
    transform: translateX(5000px);
    animation: one-right 1s linear forwards;
}

/* ====================================== */
.services {
    min-height: 90vh;
}

.services__conteiner {
    display: flex;
    justify-content: space-between;
}

.services__icons {
    display: flex;
    width: 48%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100vh;
}

.services__photo {
    width: 48%;
}

.icons__block_1 {
    position: absolute;
    top: 25px;
    left: 25px;
    animation: clock-1 7s linear infinite;
}

.icons__block_2 {
    position: absolute;
    top: 25px;
    left: 25px;
    animation: clock-2 7s linear infinite;
}

.icons__block_3 {
    position: absolute;
    top: 25px;
    left: 25px;
    animation: clock-3 7s linear infinite;
}

.icons__block_4 {
    position: absolute;
    top: 25px;
    left: 25px;
    animation: clock-4 7s linear infinite;
}

.block__text {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

.block__image img {
    height: auto;
    width: 85%;
}

/* ====================================== */
.team {
    min-height: 90vh;
}

.team__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    padding: 51px 0;
    box-sizing: border-box;
}

.team__row {
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 10px;
}

.team__row:hover > div {
    filter: brightness(.5);
}

.team__row > div:hover {
    filter: none;
}

.row__crew {
    position: relative;
}

.row__crew--name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #A3530AB2;
    color: #E5E5E5;
    font-size: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 25px 25px;
    transition-duration: 1s;
    overflow: hidden;
}

.team__row > div:hover .row__crew--name {
    height: 200px;
}

.row__crew--name span {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
}

/* ====================================== */
.contact {
    min-height: 90vh;
    padding-top: 100px;
    box-sizing: border-box;
}

.contact__get {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.get__row {
    max-width: 50%;
}

.row__title {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    text-align: center;
}

.form__row {
    display: flex;
    gap: 72px;
    margin: 55px 0;
    justify-content: space-between;
}

.form__row input {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    width: 100%;
}

textarea {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    max-width: 100%;
}

.get__map {
    min-width: 20%;
}

iframe {
    max-width: 100%;
}

.contacts__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 71px;
    box-sizing: border-box;
}

.contacts__adress {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__adress a {
    color: #000000;
}

.contacts__connect {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center
}

.connect__row {
    display: flex;
}

.row__icones {
    padding-top: 5px;
    box-sizing: border-box;
}

.icones__inst {
    padding-left: 5px;
    box-sizing: border-box;
}

.row__text {
    padding-left: 15px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100%;
}

/* ======================================== */
@media screen and (max-width: 1292px) {
    .header {
        max-width: 1292px;
        display: flex;
    }

    .menu__list {
        font-size: 25px;
        gap: 15px;
        margin: 0;
    }
}

/* ===================================== */
@media screen and (max-width: 992px) {
    .header {
        max-width: 992px;
    }

    .menu__list {
        max-width: 500px;
        font-size: 20px;
        gap: 15px;
        margin: 0;
    }

    .header__logo img {
        height: 100%;
        width: auto;
    }

    .gallery__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 30px;
    }

    .photo1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 0;
        margin-left: 0;
        transform: translateX(-5000px);
        animation: one-left 1s linear forwards;
    }

    .photo2 {
        grid-area: 2 / 1 / 3 / 2;
        transform: translateX(-5000px);
        animation: one-left 1s linear forwards;

    }

    .photo3 {
        grid-area: 3 / 1 / 4 / 2;
        transform: translateX(5000px);
        animation: one-left 1s linear forwards;
    }

    .photo4 {
        grid-area: 1 / 2 / 2 / 3;
        margin-top: 0;
        transform: translateX(-5000px);
        animation: one-right 1s linear forwards;
    }

    .photo5 {
        grid-area: 2 / 2 / 3 / 3;
        margin-top: 0;
        transform: translateX(5000px);
        animation: one-right 1s linear forwards;
    }

    .photo6 {
        grid-area: 3 / 2 / 4 / 3;
        margin-top: 0;
        margin-left: 0;
        transform: translateX(5000px);
        animation: one-right 1s linear forwards;
    }

    .gallery__row img {
        aspect-ratio: 4/3;
        object-fit: cover;
        height: 100%;
    }

    .services__conteiner {
        flex-direction: column-reverse;
        align-items: center;
    }


    .services__icons {
        width: 100%;
        flex-wrap: wrap;
    }

    .block__image {
        max-width: 50%;
    }

    .block__text {
        font-size: 36px;
    }

    @keyframes clock-1 {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 40%;
            top: 0px;
        }
        50% {
            left: 40%;
            top: 40%;
        }
        75% {
            left: 0px;
            top: 40%;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
    @keyframes clock-2 {
        0% {
            left: 40%;
            top: 0px;
        }
        25% {
            left: 40%;
            top: 40%;
        }
        50% {
            left: 0px;
            top: 40%;
        }
        75% {
            left: 0px;
            top: 0px;
        }
        100% {
            left: 40%;
            top: 0px;
        }
    }
    @keyframes clock-3 {
        0% {
            left: 40%;
            top: 40%;
        }
        25% {
            left: 0px;
            top: 40%;
        }
        50% {
            left: 0px;
            top: 0px;
        }
        75% {
            left: 40%;
            top: 0px;
        }
        100% {
            left: 40%;
            top: 40%;
        }
    }
    @keyframes clock-4 {
        0% {
            left: 0px;
            top: 40%;
        }
        25% {
            left: 0px;
            top: 0px;
        }
        50% {
            left: 40%;
            top: 0px;
        }
        75% {
            left: 40%;
            top: 40%;
        }
        100% {
            left: 0px;
            top: 40%;
        }
    }

    .team__row {
        flex-wrap: wrap;
    }
}

.team__title {
    font-size: 60px;
    padding: 0;
}

.contact {
    padding: 0;
}

.contact__conteiner {
    display: flex;
    flex-direction: column-reverse;
}

.get__row {
    /* display: none; */
}

.get__map {
    margin: 50px auto;
}


/* ======================================== */
@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }

    .menu__list {
        font-size: 16px;
        gap: 10px;
        margin: 0;
    }

    .gallery__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 5px;
    }

    .photo1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 0;
        margin-left: 0;
        transform: translateX(-5000px);
        animation: one-left 1s linear forwards;
    }


    .photo2 {
        grid-area: 2 / 1 / 3 / 2;
        transform: translateX(-5000px);
        animation: one-right 1s linear forwards;

    }


    .photo3 {
        grid-area: 3 / 1 / 4 / 2;
        transform: translateX(5000px);
        animation: one-left 1s linear forwards;
    }


    .photo4 {
        grid-area: 4 / 1 / 5 / 2;
        margin-top: 0;
        transform: translateX(-5000px);
        animation: one-right 1s linear forwards;
    }


    .photo5 {
        grid-area: 5 / 1 / 6 / 2;
        margin-top: 0;
        transform: translateX(5000px);
        animation: one-left 1s linear forwards;
    }

    .photo6 {
        grid-area: 6 / 1 / 7 / 2;
        margin-top: 0;
        margin-left: 0;
        transform: translateX(5000px);
        animation: one-right 1s linear forwards;
    }

    .services__icons {
        width: 100%;
        flex-wrap: wrap;
        margin: 25px;
    }

    .team__title {
        font-size: 50px;
    }

    .services__photo {
        display: none;
    }

    .block__image {
        max-width: 20vh;
    }

    .block__text {
        font-size: 20px;
        line-height: 26px;
    }

    .contact__conteiner {
        flex-direction: column
    }

    .contacts__row {
        gap: 10px;
        padding: 0;
    }

    .team__title {
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 30px;
    }

    .contact__get {
        align-items: center;
    }

    .get__row {
       margin-top: 30px;
        max-width: 100%;
    }

    .form__row {
        margin: 10px 0;
        gap: 10px;
        width: 100%;
    }

    .form__row input {
        font-size: 20px;
        line-height: 26px;
        height: 30px;
    }

    textarea {
        font-size: 20px;
        line-height: 26px;
    }

    .contact__get {
        flex-direction: column;
    }

    .row__title {
        font-size: 20px;
        line-height: 26px;
    }
    .contacts__adress {
       font-size: 20px;
       line-height: 26px;
    }
    .menu__list {
        padding-left: 0;
    }
}