.wrapper {
   width: 85vw;
   margin: 5vh auto;
   border: 3px solid rgba(0, 0, 0, 0.25);
   box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.4);
   display: grid;
   grid-template-columns: 1fr 1fr 3fr;
   grid-template-rows: 1fr 3fr;
   grid-template-areas: "number mail name"
      "review review review";
}

#number {
   padding: 5vh 0 0 3vw;
   grid-area: number;
   text-align: center;
   background-color: rgba(103, 90, 221, 0.4);
   font-size: 1.5rem;
   font-weight: 900;
   color: rgb(248, 62, 6);
}

#mail {
   padding-top: 5vh;
   grid-area: mail;
   background-color: rgba(103, 90, 221, 0.4);
   text-align: center;
   font-size: 1.5rem;
   color: rgb(24, 3, 100);
}

#name {
   padding-top: 5vh;
   grid-area: name;
   background-color: rgba(103, 90, 221, 0.4);
   text-align: center;
   font-size: 1.5rem;
   color: rgb(250, 26, 10)
}

#review {
   padding-top: 10vh;
   grid-area: review;
   background-color: rgba(103, 90, 221, 0.4);
   text-align: center;
   font-size: 2rem;
   font-style: italic;
   color: rgb(9, 71, 243);
}

.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}