@import url(../fonts/fonts.css);
@import url(./animation/animation.css);


/* ====================================================== */
[class*="__conteiner"] {
   max-width: 1920px;
   margin: 0 auto;
}

body {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   margin: 0;
}

ul li {
   list-style: none;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #E5E5E5;
}

.header {
   width: 100%;
   background-color: #000000;
   position: sticky;
   top: 0;
   z-index: 50;
   height: 10vh;
}

.header_row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1920px;
   margin: 0 auto;
}

.header__logo {
   background-color: #E5E5E5;
   height: 10vh;
}

.header__menu {
   display: flex;
   align-items: center;
}

.menu__menu {
   padding-right: 8px;
   box-sizing: border-box;
}

.menu__list {
   font-size: 36px;
   line-height: 44px;
   display: flex;
   flex-wrap: wrap;
   gap: 65px;
}

.menu__list li a {
   color: #FFFCFC;
   text-decoration: none;
}



/* ====================================== */
.gallery {
   padding: 71px 0;
   min-height: 90vh;
   box-sizing: border-box;
   overflow: hidden;
}

.gallery__row {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   max-width: 1834px;
   margin: 0 auto;
   gap: 23px;
}

.photo1 {
   grid-area: 1 / 1 / 3 / 2;
   margin-top: 122px;
   margin-left: 25px;
   transform: translateX(-5000px);
   animation: one-left 1s linear forwards;
}



.photo2 {
   grid-area: 1 / 2 / 2 / 3;
   transform: translateX(-5000px);
   animation: two-left 2s linear forwards;
}



.photo3 {
   grid-area: 1 / 3 / 2 / 4;
   transform: translateX(5000px);
   animation: two-right 2s linear forwards;
}


.photo4 {
   grid-area: 2 / 2 / 3 / 3;
   margin-top: 22px;
   transform: translateX(-5000px);
   animation: two-left 2s linear forwards;
}


.photo5 {
   grid-area: 2 / 3 / 3 / 4;
   margin-top: 22px;
   transform: translateX(5000px);
   animation: two-right 2s linear forwards;
}

.photo6 {
   grid-area: 1 / 4 / 3 / 5;
   margin-top: 122px;
   margin-left: 15px;
   transform: translateX(5000px);
   animation: one-right 1s linear forwards;
}



/* ====================================== */
.services {

   min-height: 90vh;
}

.services__conteiner {
   display: flex;
   justify-content: space-between;
}

.services__icons {
   display: flex;
   width: 50%;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   position: relative;
   min-height: 1000px;
}

.icons__block_1 {
   position: absolute;
   top: 25px;
   left: 25px;
   animation: clock-1 7s linear infinite;
}

.icons__block_2 {
   position: absolute;
   top: 25px;
   left: 25px;
   animation: clock-2 7s linear infinite;
}

.icons__block_3 {
   position: absolute;
   top: 25px;
   left: 25px;
   animation: clock-3 7s linear infinite;
}

.icons__block_4 {
   position: absolute;
   top: 25px;
   left: 25px;
   animation: clock-4 7s linear infinite;
}

.block__image {}

.block__text {
   font-weight: 700;
   font-size: 48px;
   line-height: 58px;
   text-align: center;
}

.services__photo {}

.services__photo img {
   height: auto;
}

/* ====================================== */
.team {
   min-height: 90vh;
}

.team__title {
   font-weight: 700;
   font-size: 96px;
   line-height: 116px;
   text-align: center;
   padding: 51px 0;
   box-sizing: border-box;
}

.team__row {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   position: relative;
}

.team__row:hover>div {
   filter: brightness(.5);
}

.team__row>div:hover {
   filter: none;
}

.row__crew {
   position: relative;

}

.row__crew--name {
   position: absolute;
   bottom: 4px;
   width: 100%;
   background-color: #A3530AB2;
   color: #E5E5E5;
   font-size: 16px;
   height: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0 0 38px 38px;
   transition-duration: 1s;
   overflow: hidden;
}

.team__row>div:hover .row__crew--name {
   height: 200px;
}

.row__crew--name span {
   font-family: 'Volkhov';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 62px;
}

.row__meredith {}

.row__jason {}

.row__ryan {}

.row__james {}

/* ====================================== */
.contact {
   min-height: 90vh;
   padding-top: 100px;
   box-sizing: border-box;


}

.contact__conteiner {}

.contact__get {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

}

.get__row {
   max-width: 50%;
}

.row__title {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 64px;
   line-height: 78px;
   color: #000000;
   text-align: center;
}

.get__form {
   display: flex;
   justify-content: center;
}

.form__row {
   display: flex;
   gap: 72px;
   margin: 55px 0;
}

.form__row input {
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 44px;
}

textarea {
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 44px;
}

.get__map {
   min-width: 20%;
}

.cantact__contacts {}

.contacts__row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-top: 71px;
   box-sizing: border-box;
}

.contacts__adress {
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #000000;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contacts__adress a {
   color: #000000;
}

.adress__mail {}

.contacts__tel {}

.contacts__hours {}

.contacts__connect {
   font-family: 'Rosario';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #000000;
   display: flex;
   flex-direction: column;
   align-items: center
}

.connect__title {}

.connect__row {
   display: flex;
}

.row__icones {
   padding-top: 5px;
   box-sizing: border-box;
}

.icones__inst {
   padding-left: 5px;
   box-sizing: border-box;
}

.icones__face {}

.icones__twi {}

.row__text {
   padding-left: 15px;
   box-sizing: border-box;
}

.text__inst {}

.text__face {}

.text__twi {}

/* ===================================== */
@media (max-width:992px) {
   .header {
      max-width: 992px;
   }

   .menu__list {
      max-width: 500px;
      font-size: 20px;
      gap: 15px;
      margin: 0;
   }

   .header__logo img {
      height: 100%;
      width: auto;
   }

   .gallery__conteiner {}

   .gallery__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }

   .photo1 {
      grid-area: 1 / 1 / 2 / 2;

      transform: translateX(-5000px);
      animation: one-left 1s linear forwards;
   }



   .photo2 {
      grid-area: 2 / 1 / 3 / 2;
      transform: translateX(-5000px);
      animation: two-left 2s linear forwards;
   }



   .photo3 {
      grid-area: 3 / 1 / 4 / 2;
      transform: translateX(5000px);
      animation: two-right 2s linear forwards;
   }


   .photo4 {
      grid-area: 2 / 2 / 3 / 3;

      transform: translateX(-5000px);
      animation: two-left 2s linear forwards;
   }


   .photo5 {
      grid-area: 2 / 2 / 3 / 3;

      transform: translateX(5000px);
      animation: two-right 2s linear forwards;
   }

   .photo6 {
      grid-area: 3 / 2 / 4 / 3;

      transform: translateX(5000px);
      animation: one-right 1s linear forwards;
   }

   .services__conteiner {
      flex-direction: column-reverse;
   }

   .services__icons {
      width: 100%;
      flex-wrap: wrap;
      margin: 25px;
   }

   .contact__conteiner {
      display: flex;
      flex-direction: column-reverse;
   }

   .get__map {
      margin: 50px auto;
   }

}