@import url(../hw_5/fonts/fonts.css) * {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

}

:focus,
active {
   outline: none
}

a:focus,
a:active {
   display: block;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100;
   line-hight: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* ============================================= */
[class*="__conteiner"] {
   max-width: 1400px;
   margin: 0 auto;
}


@media (max-with: 1400px) {
   [class*="__conteiner"] {
      max-width: 970px;
   }
}

@media (max-with: 969.98px) {
   [class*="__conteiner"] {
      max-width: 750px;
   }
}

html {
   height: 100%;
}

/* ======================================= */
body {
   height: 100%;
   font-family: Poppins;
   color: #ffffff;
   background-color: #f5f5f5;
}

/* ======================================= */
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/* ======================================= */
.header {
   width: 100%;
   background-color: black;
}

.header__conteiner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 94px;
   padding: 10px 0px;
   gap: 10px;
   max-width: 1262px;
}

.header__logo {
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 32px;
}

.header__menu {
   padding-right: 85px;
}

.menu {}

.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 5px;
}

.menu_link {
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 32px;
   color: #ffffff;
}

/* ======================================= */
.main {
   flex: 1 1 auto;

}

/* ======================================= */
.section {
   background-color: #000000;
}

.section__conteiner {
   max-width: 1400px;
   margin: 0 auto;
}

.section__row {
   display: flex;
   max-width: 1262px;
   margin: 0 auto;
}

.section__column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 32px;
   margin: 0 76px;
   min-width: 517px;
}

.column__header {
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 72px;
}

.point {
   color: #F6AD09;
}

.column__text {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   color: #B2B2B2;
}

.column_button {}

.button_text {
   color: #332200;
   padding: 20px 40px;
   background-color: #F6AD09;
   border-radius: 5px;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
}

.section_image {}

.section_image img {
   transition: transform .5s ease;
}

.section_image:hover img {
   transform: scale(1.1);
}

/* ======================================= */
.bikes {

   margin: 200px auto;
}

.bikes__conteiner {}

.bikes__header {
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 72px;
   color: #000000;
   padding: 31px 0 31px 213px;
}

.bikes__row {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 10px;
}

.row__card {}

.card__image {}

.card__title {}

.card__subtitle {}

/* ======================================= */
.tools {
   background-color: #000000;
}

.tools__conteiner {
   height: 900px;
}

.tools__content {
   max-width: 1240px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.content__column {
   display: flex;
   flex-direction: column;
   gap: 20px;
   flex-wrap: wrap;
   max-width: 537px;
   margin: 0 auto;
   justify-content: center;
   width: 50%;
}

.column__tecno {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   color: #B2B2B2;
   text-transform: uppercase;
}

.column__header {
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 72px;
}

.column__text {
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   color: rgb(178, 178, 178);
   padding-bottom: 20px;
}

.column__title {
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   color: #FFBB00;
   border-bottom: 5px solid;
   width: 278px;
   padding-bottom: 10px;
}

.column__row {
   display: flex;
   gap: 82px;
}

.row__title {
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   padding: 0 0 15px 0;
}

.row__title::before {
   content: "";
   background-color: #FFBB00;
   width: 22px;
   height: 10px;
   display: inline-block;
   margin: 0 9px 5px 0;
}

.row__suptitle {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #B2B2B2;
}

.row__row {
   min-width: 258px;
}

.content__image {
   width: 50%;
}

.content__image img {
   height: 850px;
   margin: 25px 60px;
   transition: transform .5s ease;
}

.content__image:hover img {
   transform: scale(1.2);
}

/* ======================================= */
.emblems {}

.emblems__conteiner {}

.emblems__content {
   margin: 100px auto;
}

.emblems__title {
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 72px;
   color: #111111;
   margin: 0 0 35px 136px;
}

.emblems__row {
   display: flex;
   flex-wrap: wrap;
   gap: 13px;
   justify-content: space-around;
}

.row__emblem {}

.row__emblem img {
   width: 340px;
}

/* ======================================= */
.girl {}

.girl__conteiner {}

.girl__content {
   display: flex;
}

.girl__photo {
   width: 50%;
}

.girl__fon {
   background-color: #FFBB00;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.fon__text {
   font-family: 'Merriweather';
   font-style: italic;
   font-weight: 900;
   font-size: 36px;
   line-height: 48px;
   color: #332200;
   max-width: 489px;
   margin: 200px auto 17px auto;
   position: relative;
}

.fon__text::before {
   content: "";
   background-image: url('./img/1.png');
   width: 40px;
   height: 35px;
   display: inline-block;
   position: absolute;
   top: -13px;
   left: -38px;
}

.fon__text::after {
   content: "";
   background-image: url('./img/2.png');
   width: 40px;
   height: 35px;
   display: inline-block;
   position: absolute;
   bottom: -13px;
   right: -40px;
}

.fon_name {
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 32px;
   color: #664400;
   margin: 0 0 0 102px;
}

/* ======================================= */
.price {
   background-color: #161616;
}

.price__conteiner {}

.price__seguros {}

.seguros__title {
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 72px;
   padding: 73px 0 38px 160px;
}

.seguros__row {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   max-width: 992px;
   align-items: center;
   margin: 0 auto;
}

.seguros__prata {
   background-color: #000000;
   border: 1px solid #000000;
   min-width: 456px;
   padding: 33px;
   border-radius: 7px;
   margin: 0 0 125px 0;
}

.prata__prata {
   display: flex;
   justify-content: space-around;
}

.prata__title {
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 48px;
   color: #9C9C9C;
}

.prata__titles {
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 48px;
   color: #F6AD09
}

.prata__price {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.price__title {
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 48px;
}

.price__subtitle {
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 16px;
   color: #9C9C9C;
}

.seguros__list {}

.list__punkts {}

.list__punkts li {
   margin: 18px 0;
}

.list__punkts li::before {
   content: "";
   background-color: #FFBB00;
   width: 15px;
   height: 5px;
   display: inline-block;
   margin: 0 6px 3px 0px;
}

.seguros__btn {
   margin: 41px 0;
   max-width: 177px;
}

.seguros__btn a {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   background: #2E2E2E;
   padding: 19px 22px;
   border-radius: 5px;
   color: #CCCCCC
}

/* ======================================= */
.footer {
   background-color: #000000;
}

.footer__conteiner {}

.footer__block {}

.footer__row {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 66px;
}

.row__bickraft {
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 32px;
}

.row__info {
   max-width: 220px;
}

.info__title {
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
}

.info__phone {
   padding-top: 31px;
}

.info__phone a {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: #B2B2B2;
}

.info__mail {
   padding-bottom: 31px;
}

.info__mail a {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: #B2B2B2;
}

.info__adress {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: #B2B2B2;
}

.row__inform {}

.inform__title {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
}

.inform__list {
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 36px;
   color: #B2B2B2;
   padding-top: 31px;
}

.inform__list li:hover {
   color: #FFBB00;
}

.footer__icon {
   display: flex;
   flex-wrap: wrap;
   gap: 32px;
   padding-top: 20px;
   align-items: center
}

.icone__insta {}

.icone__face {}

.icone__youtube {}

.footer-copyright {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: #9C9C9C;
   padding: 46px 0 46px 135px;
}