body {
   font-family: 'Work Sans';
   font-style: normal;
   margin: 0;
}

* {
   box-sizing: border-box;
}

.wrapper {
   min-height: 100%;
   padding-top: 50px;
   box-sizing: border-box;
}

.wrapper__conteiner {
   max-width: 800px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 290px 191px 191px;
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   gap: 20px;
   justify-content: space-between;
   align-items: stretch;
   justify-items: stretch;
   padding: 20px;
   padding: 45px 45px 70px 45px;
   background-color: bisque;
   border-radius: 20px;
   box-sizing: border-box;
}

.name {
   grid-area: 1 / 1 / 11 / 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFF;
   padding: 25px 25px;
   box-shadow: 7px 7px 0px #000000;
   border-radius: 20px;
}

.name__title {
   Font-style: Bold;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   padding-bottom: 20px;
   box-sizing: border-box;
}

.name__photo {
   padding-bottom: 20px;
}

.list__age {
   display: flex;
   gap: 16px;
}

span {
   font-weight: 900;
}

/* ================================ */
.want {
   grid-area: 11 / 1 / 13 / 2;
   border-radius: 20px;
   box-shadow: 7px 7px 0px #000000;
   align-items: center;
   background-color: #FFFFFF;
}

.want p {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   padding: 15px 25px;
   box-sizing: border-box;
}

/* ================================ */
.bio {
   grid-area: 1 / 2 / 5 / 4;
   background: #FFFFFF;
   box-shadow: 7px 7px 0px #000000;
   border-radius: 20px;
   box-sizing: border-box;
   padding: 15px 25px;
}

.bio__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
}

.bio__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
}

/* ================================ */
.goals {
   grid-area: 5 / 2 / 9 / 3;
   background: #FFFFFF;
   box-shadow: 7px 7px 0px #29A71E;
   border-radius: 20px;
   box-sizing: border-box;
   padding: 15px 25px;
   height: 101px;
}

.goals__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #29A71E;
}

.goals__list {
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   padding-left: 30px;
}

.goals__list li {}

/* ================================ */
.dream {
   grid-area: 9 / 2 / 13 / 3;
   box-shadow: 7px 7px 0px #3675B0;
   border-radius: 20px;
   padding: 15px 25px;
   background: #FFFFFF;
   box-sizing: border-box;
   height: 165px;
}

.dream__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #3675B0;
}

.dream__list {
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
}

/* ================================ */
.frustration {
   grid-area: 5 / 3 / 10 / 4;
   background: #FFFFFF;
   box-shadow: 7px 7px 0px #E13535;
   border-radius: 20px;
   padding: 15px 25px;
   box-sizing: border-box;
   height: 165px;
}

.frustration__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #E13535;
}

.frustration__list {
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   padding-left: 24px;
}

/* ================================ */
.personality {
   grid-area: 10 / 3 / 13 / 4;
   background: #FFFFFF;
   box-shadow: 7px 7px 0px #000000;
   border-radius: 20px;
   box-sizing: border-box;
   padding: 15px 25px;
   height: 101px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.personality__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   margin-bottom: 10px;
}

.personality__goal {
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;

   color: #000000;
}

.personality__row {
   display: flex;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   gap: 10px;
}

.row__learn {}

.row__skill {}