body {
   /* max-width: 1440px;
   margin: 0 auto; */
   background-color: #E5E5E5;
   margin: 0;

}

img {
   max-width: 100%;
   height: auto;

}


* {
   box-sizing: border-box;
}

.page {
   background-color: white;
}

.header {
   max-width: 1440px;
   margin: 0 auto 31px;
   height: 110px;
   padding-top: 25px;
   box-sizing: border-box;
}

.header__title {
   font-family: 'M PLUS 1';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 70px;
   letter-spacing: 0.1em;
   text-align: center;
}

.strong {
   color: #3E45E8;
}

.ukr {
   color: #E8C23E;
}

.castle {
   background-image: url(./img/image\ 1.png);
   height: 803px;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 206px 0 0 80px;
   box-sizing: border-box;
}

.castle__text {
   max-width: 1358px;
   margin: 0 auto;
   background-image: url(./img/flag.png);
   background-repeat: no-repeat;
   padding-left: 59px;
   font-weight: 700;
   font-size: 48px;
   color: white;
   width: 80%;
   line-height: 75.5px;
   box-sizing: border-box;
}

.main {
   max-width: 1440px;
   margin: 0 auto;
   padding: 72px 0 0px 80px;
}

.h1 {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 157.3%;
}

.line {
   border-bottom: 5px solid #3E45E8;
   max-width: 402px;
   margin: 25px 0 33px 0;

}

.card_row {
   display: flex;
   justify-content: space-between;
   padding: 0 80px 0 0;
   box-sizing: border-box;
}

.card__item {
   border: 1px solid #E5E5E5;
   width: 30%;
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   line-height: 157.3%;
   overflow: hidden;
   border-radius: 9%;
   box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card__image {
   width: 100%;
}

.card__title {
   font-weight: 700;
   font-size: 24px;
   color: black;
   padding-left: 16px;
}

.card__title:hover {
   color: #1E8DF2;
}

.card__subtitle {
   font-weight: 400;
   font-size: 20px;
   color: #E8C23E;
   max-width: 230px;
   padding: 0 0 15px 16px;
   box-sizing: border-box;
}

.new {
   text-align: center;
   margin: 74px 0 21px 0;
}

.second {
   margin: 0 auto;
}

.map {
   text-align: center;
   margin-top: 41px;
   margin-bottom: 51px;
}

.button {
   background-color: #2A61F0;
   font-size: 64px;
   font-weight: 700;
   max-width: 591px;
   height: 121px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   margin: 0 auto;

}

.conteiner {
   background-color: #2F4A4B;
   margin-top: 21px;
   box-sizing: border-box;
   padding-top: 21px;
}

.email {
   font-family: 'Marcellus SC';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 45px;
   letter-spacing: 0.1em;
   text-align: center;
   padding-top: 21px;
   box-sizing: border-box;
}

.phone {
   font-family: 'Marcellus SC';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 45px;
   letter-spacing: 0.1em;
   text-align: center;
   padding-top: 21px;
   box-sizing: border-box;
}

.icon__row {
   display: flex;
   justify-content: center;
   padding: 21px 0px 21px 0px;
   box-sizing: border-box;
}

.icons {
   padding: 0 11px;
}