/* Gallery */
@keyframes one-left {
   0% {
      transform: translateX(-5000px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes two-left {
   0% {
      transform: translateX(-5000px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes two-right {
   0% {
      transform: translateX(5000px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes one-right {
   0% {
      transform: translateX(5000px);
   }

   100% {
      transform: translateX(0);
   }
}

/* ================================== */

/* @keyframes clock-1 {
   0%   { left:0px; top:0px;}
   25%  { left:50%; top:0px;}
   50%  {left:50%; top:50%;}
   75%  { left:0px; top:50%;}
   100% { left:0px; top:0px;}
 }
 @keyframes clock-2 {
   0%  { left:50%; top:0px;}
   25%  {left:50%; top:50%;}
   50%  { left:0px; top:50%;}
   75% { left:0px; top:0px;}
   100%  { left:50%; top:0px;}
 }
 @keyframes clock-3 {
   0%  {left:50%; top:50%;}
   25%  { left:0px; top:50%;}
   50% { left:0px; top:0px;}
   75%  { left:50%; top:0px;}
   100%  {left:50%; top:50%;}
 }
 @keyframes clock-4 {
   0%  { left:0px; top:50%;}
   25% { left:0px; top:0px;}
   50%  { left:50%; top:0px;}
   75%  {left:50%; top:50%;}
   100%  { left:0px; top:50%;}
 } */

/* ================================== */
@keyframes clock-1 {
   0%   { left:0px; top:0px;}
   25%  { left:60%; top:0px;}
   50%  {left:60%; top:60%;}
   75%  { left:0px; top:60%;}
   100% { left:0px; top:0px;}
 }
 @keyframes clock-2 {
   0%  { left:60%; top:0px;}
   25%  {left:60%; top:60%;}
   50%  { left:0px; top:60%;}
   75% { left:0px; top:0px;}
   100%  { left:60%; top:0px;}
 }
 @keyframes clock-3 {
   0%  {left:60%; top:60%;}
   25%  { left:0px; top:60%;}
   50% { left:0px; top:0px;}
   75%  { left:60%; top:0px;}
   100%  {left:60%; top:60%;}
 }
 @keyframes clock-4 {
   0%  { left:0px; top:60%;}
   25% { left:0px; top:0px;}
   50%  { left:60%; top:0px;}
   75%  {left:60%; top:60%;}
   100%  { left:0px; top:60%;}
 }
