/* Gallery */
@keyframes one-left {
   0% {
      transform: translateX(-5000px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes two-left {
   0% {
      transform: translateX(-5000px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes two-right {
   0% {
      transform: translateX(5000px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes one-right {
   0% {
      transform: translateX(5000px);
   }

   100% {
      transform: translateX(0);
   }
}

/* ================================== */
/* services */
/* @keyframes clock-1 {
   0% {
      transform: translate(0, 0);
   }

   25% {
      transform: translate(135%, 0);
   }

   50% {
      transform: translate(135%, 135%);
   }

   75% {
      transform: translate(0, 135%);
   }

   100% {
      transform: translateX(0, 0);
   }
}

@keyframes clock-2 {

   0% {
      transform: translate(0, 0);
   }

   25% {
      transform: translate(0, 135%);
   }

   50% {
      transform: translate(-135%, 135%);
   }

   75% {
      transform: translate(-135%, 0);
   }

   100% {
      transform: translateX(0, 0);
   }
}

@keyframes clock-3 {
   0% {
      transform: translate(0, 0);
   }

   25% {
      transform: translate(0, -135%);
   }

   50% {
      transform: translate(135%, -135%);
   }

   75% {
      transform: translate(135%, 0);
   }

   100% {
      transform: translateX(0, 0);
   }
}


@keyframes clock-4 {
   0% {
      transform: translate(0, 0);
   }

   25% {
      transform: translate(-135%, 0);
   }

   50% {
      transform: translate(-135%, -135%);
   }

   75% {
      transform: translate(0, -135%);
   }

   100% {
      transform: translateX(0, 0);
   }
} */
@keyframes clock-1 {
   0%   { left:0px; top:0px;}
   25%  { left:50%; top:0px;}
   50%  {left:50%; top:50%;}
   75%  { left:0px; top:50%;}
   100% { left:0px; top:0px;}
 }
 @keyframes clock-2 {
   0%  { left:50%; top:0px;}
   25%  {left:50%; top:50%;}
   50%  { left:0px; top:50%;}
   75% { left:0px; top:0px;}
   100%  { left:50%; top:0px;}
 }
 @keyframes clock-3 {
   0%  {left:50%; top:50%;}
   25%  { left:0px; top:50%;}
   50% { left:0px; top:0px;}
   75%  { left:50%; top:0px;}
   100%  {left:50%; top:50%;}
 }
 @keyframes clock-4 {
   0%  { left:0px; top:50%;}
   25% { left:0px; top:0px;}
   50%  { left:50%; top:0px;}
   75%  {left:50%; top:50%;}
   100%  { left:0px; top:50%;}
 }

/* ================================== */