.wrapper {
   width: 85vw;
   margin: 5vh auto;
   border: 3px solid rgba(0, 0, 0, 0.25);
   box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.4);
   display: grid;
   grid-template-columns: 1fr 1fr 3fr;
   grid-template-rows: 1fr 3fr;
   grid-template-areas: "number mail name"
      "review review review";
}

#number {
   padding: 5vh 0 0 3vw;
   grid-area: number;
   text-align: center;
   background-color: rgba(103, 90, 221, 0.4);
   font-size: 1.5rem;
   font-weight: 900;
   color: rgb(248, 62, 6);
}

#mail {
   padding-top: 5vh;
   grid-area: mail;
   background-color: rgba(103, 90, 221, 0.4);
   text-align: center;
   font-size: 1.5rem;
   color: rgb(24, 3, 100);
}

#name {
   padding-top: 5vh;
   grid-area: name;
   background-color: rgba(103, 90, 221, 0.4);
   text-align: center;
   font-size: 1.5rem;
   color: rgb(250, 26, 10)
}

#review {
   padding-top: 10vh;
   grid-area: review;
   background-color: rgba(103, 90, 221, 0.4);
   text-align: center;
   font-size: 2rem;
   font-style: italic;
   color: rgb(9, 71, 243);
}